version: 2.1
jobs:
  build:
    machine:
      image: android:default
    resource_class: large
    steps:
      - checkout
      - run:
          name: Setup Android NDK
          command: sdkmanager "ndk;29.0.14206865"
      - run:
          name: Generate cache key
          command: |
            find . -name 'build.gradle.kts' | sort | xargs cat |
            shasum | awk '{print $1}' > /tmp/gradle_cache_seed
      - restore_cache:
          key: gradle-v1-{{ arch }}-{{ checksum "/tmp/gradle_cache_seed" }}
      - run:
          name: Build apk debug
          command: |
            export TERM=dumb
            ./gradlew assembleDebug
      - store_artifacts:
          path: app/build/outputs/apk/debug/
          destination: apk-debug
      - save_cache:
          key: gradle-v1-{{ arch }}-{{ checksum "/tmp/gradle_cache_seed" }}
          paths:
            - ~/.gradle/caches
            - ~/.gradle/wrapper
workflows:
  build:
    jobs:
      - build
